.slds-table .slds-truncate {
	
    max-width: 100%;
    overflow: hidden;	
    text-overflow: ellipsis;
    white-space: pre-wrap;
	  
}

.myTable1 table>thead .slds-has-button-menu,
.myTable1 table>thead .slds-has-button-menu:hover {
    color: white;
    text-border: black;
    border: 2px solid black;
    background: rgb(13, 121, 39);
    font-size: 12px;
    font-border: 2px solid black;
}
.myTable1 table>thead .slds-has-button-menu:hover 
{
    background: rgb(176, 26, 7);
	color:grey;
}
.custom-datatable .slds-cell-wrap {
        white-space: nowrap;
    }
.custom-button-color {
    background-color: #FFFF00;
    color: #FFFF00;
   
  }